.adventages__promo{
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin-right: 12%;
  margin-left: 12%;
  text-align: center;
  margin-top: 42px;
  margin-bottom: 0;
}
.advantages__title{
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  padding-right: 12%;
  padding-left: 12%;
  margin-top: 30px;
  margin-bottom: 0;
  position: relative;
}

.advantages__list{
  background: #81b3d2;
  position: relative;
  color:white;
  list-style: none;
&::before{
  content: "";
  display: block;
  background: url('../img/advantages-border-mobile.png') center bottom no-repeat;
  min-height: 37px;
  width: 100%;
  position: absolute;
  top: 0;
}
}
.adventage__title{
  padding-top: 95px;
  margin-top: 0;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-align: center;
}
.number{
  color:white;
  display: block;
  width: 25px;
  line-height: 14px;
  text-align: center;
  font-size: 14px;
  position: relative;
  margin: auto;
  &::before{
    content: "";
    width: 14px;
    height: 1px;
    background: white;
    position: absolute;
    top: 6px;
    left: -18px;
  }
  &::after{
    content: "";
    width: 14px;
    height: 1px;
    background: white;
    position: absolute;
    top: 6px;
    right: -19px;

  }
}
.advantage__descr-promo{
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin-left: 12px;
  margin-right: 12px;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 42px;
  margin-left: 15%;
  margin-right: 15%;
}
.advantage__img{
  height: 260px;
  img{
    object-fit: cover;
    width: 100%;
    height: 260px;
  }
}

.advantage__list-items{
  background: white;
  color:black;
  font-size: 14px;
  line-height: 21px;
  padding-left: 22%;
  padding-right: 17%;
  padding-bottom: 44px;
  list-style: none;
  text-transform: uppercase;
}
.list__item-title{
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 35px;
  position: relative;
  &::before{
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    left: -50px;
    top: 25px;
  }
}

.advantage__list-item:nth-child(1) .list__item-title{
    &::before{
      .sprite-icons;
      .sprite-icons-icon-house;
      width: 39px;
      height: 37px;
    }
}
.advantage__list-item:nth-child(2) .list__item-title{
    &::before{
      .sprite-icons;
      .sprite-icons-icon-gift;
      width: 32px;
      height: 38px;
    }
}
.advantage__list-item:nth-child(3) .list__item-title{
    &::before{
      .sprite-icons;
      .sprite-icons-icon-burger;
      width: 40px;
      height: 35px;
    }
}
.list__item-descr{
  margin-top: 22px;
  margin-bottom: 0;
  color:#333333;
}
.adventage__title--less-margin{
  margin-top: 41px;
  text-transform: uppercase;
  text-align: center;
}
.advantages__item--border-bottom{
  .adventage__title--less-margin{
    margin-top: 0px;
    padding-top: 30px;
  }
  .advantage__descr-promo{
    padding-bottom: 30px;
    margin-bottom: 0px;
    color:#333333;
  }
  border-bottom: 1px solid #d6d6d6;
  margin-left: 7%;
  margin-right: 7%;
  &:last-child{
    border-bottom: none;
  }
}
.advantages__item--white{
  background: #eeeeee;
  color: black;
  .number{
    color:#333333;
    &::before,
    &::after{
      background:#333333;
    }
  }
}
.adventage__title--first{
  padding-top: 95px;
  text-align: center;
}
@media @tablet-widths {
  .adventage__title--first{
    padding-top: 0px;
  }
  .adventages__promo{
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin-top: 45px;
  }
  .advantages__title{
    margin-bottom: 55px;
  }
 .advantages__list{
   &::before{
     display: none;
   }
 }
 .advantages__item{
   display: -webkit-flex;
   display: -ms-flex;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   border: none;
 }
 .advantage__descr{
   width: 256px;
   height: 260px;
 }
 .advantage__img{
    flex-grow: 1;
    width: 65%;
 }
 .advantage__list-items{
   width: 100%;
   display: -webkit-flex;
   display: -ms-flex;
   display: flex;
   min-height: 330px;
   padding: 0;
 }
 .advantage__list-item{
    width: 53%;
 }
 .list__item-title{
   font-size: 21px;
   line-height: 26px;
   text-align: center;
   padding-top: 165px;
 }
 .list__item-descr{
   margin-left: 20%;
   margin-right: 20%;
   text-align: center;
   margin-top: 30px;
   margin-bottom: 35px;
 }
 .advantage__list-item .list__item-title{
     &::before{
       left: 50%;
       top: 55px;
       transform: translateX(-50%);
     }
   }
 .advantage__list-item:nth-child(1) .list__item-title{
     &::before{
       .sprite-icons-tab;
       .sprite-icons-icon-house-tab;
       width: 75px;
       height: 72px;
     }
 }
 .advantage__list-item:nth-child(2) .list__item-title{
     &::before{
       .sprite-icons-tab;
       .sprite-icons-icon-burger-tab;
       width: 77px;
       height: 68px;
     }
 }
 .advantage__list-item:nth-child(3) .list__item-title{
     &::before{
       .sprite-icons-tab;
       .sprite-icons-icon-gift-tab;
       width: 68px;
       height: 77px;
     }
 }
 .advantage__descr--right{
  order:1;
}
.advantages__item--white{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  .advantages__item{
    width: 33%;
    height: 255px;
    margin: 0;
  }
}
.advantage__descr-flex{
  width: 100%;
  .adventage__title--less-margin{
    margin-top: 50px;
    padding-top: 0;
    font-size: 21px;
    line-height: 26px;
  }
  .advantage__descr-promo{
    margin-top: 30px;
    margin-bottom: 40px;
  }
}
.adventage__title--first{
  margin-top: 50px;
}
}
@media @desktop-widths {
  .adventages__promo{
    width: 440px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }
  .advantages__title{
    margin-top: 40px;
    margin-bottom: 0;
  }
  .advantage__descr{
    width: 400px;
  }
  .adventage__title--less-margin,
  .adventage__title--first{
    font-size: 21px;
    margin-bottom: 15px;
    margin-top: 50px;
  }
  .list__item-descr{
    font-size: 14px;
    line-height: 21px;
  }
  .adventages__descr{
    padding-top: 45px;
    padding-bottom: 55px;
    background: white;
  }
}
